@using Kebattle.Web.Helpers

<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">Kebattle</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample07" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Restauracje", "Index", "Company", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    @if (SessionHelper.IsCompany())
                    {
                        <li class="nav-item"><i class="nav-link">|</i></li>
                        <li class="nav-item">@Html.ActionLink("Zamówienia", "Index", "Order", routeValues: new { companyId = SessionHelper.GetCompanyId() }, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Statystyki", "Statistics", "Company", routeValues: new { companyId = SessionHelper.GetCompanyId() }, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Ustawienia", "Settings", "Company", routeValues: new { companyId = SessionHelper.GetCompanyId() }, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item"><i class="nav-link">|</i></li>
                    }
                    <li class="nav-item">@Html.ActionLink("O nas", "About", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Kontakt", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
                <div class="form-inline my-2 my-md-0">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="jumbotron container body-content mb-0 p-5">
        @RenderBody()
    </div>
    <div class="jumbotron container mb-0 pb-1 pt-1">
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
