@model Kebattle.Web.Models.Company.StatisticsListViewModel
@{
    ViewBag.Title = "Statystyki";
}

<h2>Statystyki</h2>

<body>
    <form method="post">
        <fieldset>
            <legend>Wybierz interesujące Cię parametry</legend>
            <div>
                <label for="Rodzaj">Rodzaj</label>
                <select name="Rodzaj">
                    <option></option>
                    <option>Bułka</option>
                    <option>Pita</option>
                </select>
            </div>
            <div>
                <label for="Sos">Sos</label>
                <select name="Sos">
                    <option></option>
                    <option>Łagodny</option>
                    <option>Ostry</option>
                    <option>Bez sosu</option>
                </select>
            </div>
            <div>
                <label for="Mieso">Mięso</label>
                <select name="Mieso">
                    <option></option>
                    <option>Wołowina</option>
                    <option>Jagnięcina</option>
                    <option>Baranina</option>
                    <option>Kurczak</option>
                </select>
            </div>
            <div>
                <label for="Rozmiar">Rozmiar</label>
                <select name="Rozmiar">
                    <option></option>
                    <option>Mały</option>
                    <option>Średni</option>
                    <option>Duży</option>
                </select>
            </div>
            <div>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    $(function () {
                        $("#datepicker").datepicker();
                    });
                </script>
                <p>Data od: <input type="text" name="dataod" id="datepicker"></p>
                <p>Data do: <input type="text" name="datado" id="datepicker"></p>

            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Pokaż" class="submit" disabled />
                <input type="submit" value="Pokaż/ukryj szczególy" class="submit" disabled />
                <button type="reset">Reset</button>
            </div>
        </fieldset>
    </form>
</body>

<table id="myStatTable" class="table">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Id</th>
            <th>Rodzaj</th>
            <th>Sos</th>
            <th>Mięso</th>
            <th>Rozmiar</th>
            <th>Data dodania</th>
        </tr>
    </thead>
    <tbody>
        @{
            int j = 0;
            double dochod=0;
            int[] typy = { 1, 0 };
            int[] sosy = { 0, 1, 0 };
            int[] miesa = { 0, 1, 0, 0 };
            int[] rozmiar = { 1, 0 };
            dochod += typy[0] * 2 + typy[1] * 3 + sosy[0] * 0.5 + sosy[1] * 0.5 + sosy[2] * 0.5 + miesa[0] * 3 + miesa[1] * 3 +
                miesa[2] * 3 + miesa[3] * 4 + rozmiar[0] * 3 + rozmiar[1] * 2;
            for (int i = 0; i < Model.Statistics.Count(); i++)
            {
                j = i + 1;
                var item = Model.Statistics.ElementAt(i);
                <tr id="r_@item.Id">
                    <td>@j</td>
                    <td>@item.Id</td>
                    <td>@item.KebabType</td>
                    <td>@item.SauceType</td>
                    <td>@item.MeatType</td>
                    <td>@item.KebabSize</td>
                    <td>@item.DateAdded.Value.ToString("dd-MM-yyyy")</td>
                </tr>
            }
            <tr>
                <th><h2>Podsumowanie</h2></th>
                <th><h2>Łącznie: @j</h2></th>
            </tr>
            <tr>
                <th>Rodzaj: </th>
                <th>Bułka</th>
                <th>Pita</th>
            </tr>
            <tr>
                <td></td>
                <td>@typy[0]</td>
                <td>@typy[1]</td>
            </tr>
            <tr>
                <th>Mięso:</th>
                <th>Wołowina</th>
                <th>Jagniecina</th>
                <th>Baranina</th>
                <th>Kurczak</th>
            </tr>
            <tr>
                <td></td>
                <td>@miesa[0]</td>
                <td>@miesa[1]</td>
                <td>@miesa[2]</td>
                <td>@miesa[3]</td>
            </tr>
            <tr>
                <th>Sos:</th>
                <th>Brak</th>
                <th>Łagodny</th>
                <th>Ostry</th>
            </tr>
            <tr>
                <td></td>
                <td>@sosy[0]</td>
                <td>@sosy[1]</td>
                <td>@sosy[2]</td>
            </tr>
            <tr>
                <th>Rozmiar:</th>
                <th>Mały</th>
                <th>Duży</th>
            </tr>
            <tr>
                <td></td>
                <td>@rozmiar[0]</td>
                <td>@rozmiar[1]</td>
            </tr>
            <tr>
                <th>Dochód</th>
            </tr>
            <tr>
                <td></td>
                <td>@dochod</td>
            </tr>
        }
    </tbody>
</table>



<div>
    @Html.ActionLink("Wróć do listy zamówień", "Index", new { companyID = Model.CompanyId })
</div>
