@model Kebattle.Web.Models.Company.StatisticsListViewModel
@{
    ViewBag.Title = "Statystyki";
}

<h2>Statystyki</h2>

<body>
    <form method="post">
        <fieldset>
            <legend>Wybierz interesujące Cię parametry</legend>
            <div>
                <label for="Rodzaj">Rodzaj</label>
                <select name="Rodzaj">
                    <option>Bułka</option>
                    <option>Pita</option>
                </select>
            </div>
            <div>
                <label for="Sos">Sos</label>
                <select name="Sos">
                    <option>Łagodny</option>
                    <option>Ostry</option>
                    <option>Bez sosu</option>
                </select>
            </div>
            <div>
                <label for="Mieso">Mięso</label>
                <select name="Mieso">
                    <option>Wołowina</option>
                    <option>Jagnięcina</option>
                    <option>Baranina</option>
                    <option>Kurczak</option>
                </select>
            </div>
            <div>
                <label for="Rozmiar">Rozmiar</label>
                <select name="Rozmiar">
                    <option>Mały</option>
                    <option>Średni</option>
                    <option>Duży</option>
                </select>
            </div>
            <div>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    $(function () {
                        $("#datepicker").datepicker();
                    });
                </script>
                <p>Data od: <input type="text" name="dataod" id="datepicker"></p>
                <p>Data do: <input type="text" name="datado" id="datepicker"></p>

            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Pokaż" class="submit" disabled/>
                <button type="reset">Reset</button>
            </div>
        </fieldset>
    </form>
</body>

<table id="myStatTable" class="table">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Id</th>
            <th>Rodzaj</th>
            <th>Sos</th>
            <th>Mięso</th>
            <th>Rozmiar</th>
            <th>Data dodania</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.Statistics.Count(); i++)
            {
                int j = i + 1;
                var item = Model.Statistics.ElementAt(i);
                <tr id="r_@item.Id">
                    <td>@j</td>
                    <td>@item.Id</td>
                    <td>@item.KebabType</td>
                    <td>@item.SauceType</td>
                    <td>@item.MeatType</td>
                    <td>@item.KebabSize</td>
                    <td>@item.DateAdded.Value.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        }
    </tbody>
</table>



<div>
    @Html.ActionLink("Wróć do listy zamówień", "Index", new { companyID = Model.CompanyId })
</div>
