@model Kebattle.Web.Models.Order.OrdersListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista zamówień</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Rodzaj kebaba</th>
            <th>Rodzaj sosu</th>
            <th>Typ mięsa</th>
            <th>Dodatkowe informacje</th>
            <th>Data dodania</th>
            <th>Dodane przez</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.KebabTypeId</td>
                <td>@item.SauceTypeId</td>
                <td>@item.MeatTypeId</td>
                <td>@item.Notes</td>
                <td>@item.DateAdded.ToShortDateString()</td>
                <td>@item.AddedBy</td>
                <td><a href="/Order/View?id=@item.Id" class="text-primary"><i class="fa fa-info"></i></a></td>
            </tr>
        }
    </tbody>
</table>

